<nav class="bg-cyan-600 shadow-lg fixed bottom-0 w-full border-solid border-2 border-r-2 rounded-2xl">
    <div class="p-2 container mx-auto flex justify-between items-center flex-wrap">
      <ul class="flex justify-between w-full space-x-2">
        <li class="flex-grow">
          <button onclick="location.href='/'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-white">Home</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/task'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-white">Tasks</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/invite'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-white">Invites</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/wallet'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-white">Wallet</button>
        </li>
      </ul>
    </div>
  </nav>