<nav class="bg-black text-white shadow-lg fixed bottom-0 w-screen ">
    <div class="p-2 container mx-auto flex justify-between items-center flex-wrap">
      <ul class="flex justify-between w-full space-x-2">
        <li class="flex-grow">
          <button onclick="location.href='/'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-yellow-500 hover:text-black">Home</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/task'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-yellow-500 hover:text-black">Tasks</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/invites'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-yellow-500 hover:text-black">Invites</button>
        </li>
        <li class="flex-grow">
          <button onclick="location.href='/wallet'" class="rounded-2xl btn btn-primary w-full p-2 transition-colors duration-300 hover:bg-yellow-500 hover:text-black">Wallet</button>
        </li>
      </ul>
    </div>
  </nav>